body{
    
    display: flex;
    flex-direction: column;
    margin-right: 35vw;
    margin-left: 35vw;
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    background-color: #e2dce7;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

p {
    margin: 0px;
}

button{
    
    font-size: 1.8vw;
    border-radius: 10px;
    border-color: #9384D1;
    background-color: #dfdaf2;
}

@media (max-width:500px) {

    body{
        margin-right:1vw;
        margin-left:1vw;
    }
    button {
        font-size: 6vw;
    }
}

.main-div{
    
    max-width: 100vw;
    height: 75vh;
    padding: 5%;
    padding-right: 5% ;
    padding-left: 5%;
    background-color: #9384D1;
    border-radius: 20px;
}

.data, .input{

    display: flex;
    height: 50%;
    justify-content: flex-end;
    font-size: 2.5rem;
    align-items: center;
    margin-right: 1rem;
}
.input{

    font-size: 3rem;
}
.screen-div{

    width: 100%;
    height: 20%;
    margin-bottom: 5%;
    background-color: white;
}

.inputs-div{
    
    width: 100%;
    height: 77%;
    background-color: #C9A7EB;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     padding: 5%;
}
.clear-div{

    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;

}
.clear-button, .delete-button{
    
    width: 100%;
    height: 50%;
    margin: 2%;
}
.bottom-input-div{

    width: 100%;
    height: 80%;
    display: flex;
}

.numbers-div{
    display: flex;
    height: 100%;
    width: 60%;
    flex-wrap: wrap;
    flex-direction: row;
}

.operations-div {

    display: flex;
    height: 100%;
    width: 40%;
    flex-wrap: wrap;
}
.number-button{

    margin: 2%;
    height: 20%;
    width: 28%;
}

.operation-button{
    
    margin: 2%;
    margin-top: 7%;
    height: 27.5%;
    width: 46%;
    margin-bottom: 10%;
}
.equal-button{
    
    margin-top: -5%;
    width: 100%;
    height: 20%;
}