.default {

    background-color: #1F2937;
    
}

.header {

    background-color: #1F2937;
    color: white;
    display: flex;
    height: auto;
    margin: 0;
    flex-direction: row;
    flex: 1;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;

}

.header-item {
    
    margin-right: 100px;

}

.header-item.logo {

    
    width: 60px;
    height: 60px;
    margin-right: 1300px;

}